{% extends 'base.html' %}
{% block title%}User Info{% endblock%}
{% block content %}
<h1>Shhhhh!</h1>
<div class="container">
    <div class="row">

        <div class="col-4">

            <div>
                <div class="card" style="width: 18rem;">
                    <img alt="..." class="card-img-top" src="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text">
                        <ul>
                            <li>First Name: {{ user.first_name}}</li>
                            <li>Last Name: {{ user.last_name}}</li>
                            <li>Email: {{ user.email}}</li>
                        </ul>
                        </p>
                        <a class="btn btn-primary" href="/users/{{ user.username }}/feedback/add ">Add Feedback</a>
                        <form action="/users/{{ user.username }}/delete" method="post">
                            <button type="submit" class="btn btn-danger">Delete User</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
                {% for post in user.posts %}
                <h5> {{ post.title }} </h5>
                <p>{{ post.content }} </p>
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-primary float-right" href="/feedback/{{ post.id }}/update">Edit</a>
                </div>
                 <div class="col-6">
                     <form action="/feedback/{{ post.id }}/delete" method="post">
                         <button type="submit" class="btn btn-danger float-right">Delete</button>
                     </form>
                 </div>

            </div>
                {% endfor %}

        </div>
    </div>

</div>

{% endblock%}